<div class="button-div">
    <button class="button" ng-disabled="!$ctrl.zoomOutEnabled()" ng-click="$ctrl.zoomOut()" style="background-color:rgb({{$ctrl.color().r-40}},{{$ctrl.color().g-40}},{{$ctrl.color().b-40}});"><i class="material-icons">&#xE900;</i></button>
    <button class="button" ng-click="$ctrl.openBox()" style="background-color:rgb({{$ctrl.color().r-30}},{{$ctrl.color().g-30}},{{$ctrl.color().b-30}});"><i class="material-icons">&#xE80B;</i></button>
    <button class="button" ng-click="$ctrl.openImage(1)" style="background-color:rgb({{$ctrl.color().r-15}},{{$ctrl.color().g-15}},{{$ctrl.color().b-15}});"><i class="material-icons">&#xE3B0;</i></button>
    <button class="button" ng-click="$ctrl.openImage(0)" style="background-color:rgb({{$ctrl.color().r-30}},{{$ctrl.color().g-30}},{{$ctrl.color().b-30}});"><i class="material-icons">&#xE3B6;</i></button>
    <button class="button" ng-disabled="!$ctrl.zoomInEnabled()" ng-click="$ctrl.zoomIn()" style="background-color:rgb({{$ctrl.color().r-40}},{{$ctrl.color().g-40}},{{$ctrl.color().b-40}});"><i class="material-icons">&#xE8FF;</i></button>
</div>
