<div class="button-div">
    <button class="button" ng-disabled="!footer.zoomOutEnabled()" ng-click="footer.zoomOut()" style="background-color:rgb({{footer.color().r-40}},{{footer.color().g-40}},{{footer.color().b-40}});"><i class="material-icons">&#xE900;</i></button>
    <button class="button" ng-click="footer.openBox()" style="background-color:rgb({{footer.color().r-30}},{{footer.color().g-30}},{{footer.color().b-30}});"><i class="material-icons">&#xE80B;</i></button>
    <button class="button" ng-click="footer.openImage(1)" style="background-color:rgb({{footer.color().r-15}},{{footer.color().g-15}},{{footer.color().b-15}});"><i class="material-icons">&#xE3B0;</i></button>
    <button class="button" ng-click="footer.openImage(0)" style="background-color:rgb({{footer.color().r-30}},{{footer.color().g-30}},{{footer.color().b-30}});"><i class="material-icons">&#xE3B6;</i></button>
    <button class="button" ng-disabled="!footer.zoomInEnabled()" ng-click="footer.zoomIn()" style="background-color:rgb({{footer.color().r-40}},{{footer.color().g-40}},{{footer.color().b-40}});"><i class="material-icons">&#xE8FF;</i></button>
</div>
