/*---------------- ANIMATIONS ---------------*/

.color-samples.ng-enter,
.color-samples.ng-leave {
    transition: margin 300ms;
    -webkit-animation-duration: 700ms;
    animation-duration: 700ms;
}

.color-samples.ng-enter,
.color-samples.ng-leave-active {
    margin-bottom: -52px;
}
.color-samples.ng-enter-active {
    margin-bottom: 2px;
}
.color-samples.ng-enter {
    -webkit-animation-name: rollIn;
    animation-name: rollIn;
}
.color-samples.ng-leave {
    -webkit-animation-name: rollOut;
    animation-name: rollOut;
}
.ng-enter-stagger,
.ng-leave-stagger {
    transition-delay: 150ms;
    transition-duration: 0;
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
}