.button-div {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.button {
    width: 20%;
    padding: 17px 0;
    text-align: center;
    float: left;
    background-color: #696969;
}

div[disabled] {
    pointer-events: none;
    color: #777;
}