.button-div {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.button {
    width: 20%;
    text-align: center;
    float: left;
}

button {
    color: inherit;
    border: none;
    outline: none;
    padding: 19px 0;
    background-color: inherit;
}

button[disabled] {
    pointer-events: none;
    color: #777;
}