.color {
    width: 100%;
    font-size: 1em;
    position: absolute;
    bottom: 69px;
    padding: 23px 0 23px 0;
    text-align: center;
    background-color: #777777;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.color p {
    transition: all .1s ease-out;
}

.color p:active {
    transform: scale(1.3);
}

